body {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#latestMessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-shadow: 0 0 10px white;
    padding: 20px;
    box-sizing: border-box;

}

#latestMessage span {
    background-color: black;
    box-shadow: 0 0 30px 30px black;
}

#history {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
}

#history p {
    position: absolute;
    opacity: 0.2;
    text-shadow: 0 0 10px white;
    animation: translate 20s linear infinite;
}

@keyframes translate {
    0% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Sending page */
#sendBody {
    background: #c33;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 30px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#sendBody #message {
    border: none;
    outline: none;
    padding: 20px;
    margin: 0;
    border-bottom: 3px solid white;
    background: none;
    font-size: 3rem;
    width: 60%;
    box-sizing: border-box;
    color: wheat;
    font-family: "Press Start 2P", system-ui;
    transition: 0.2s;
}

#sendBody #message:focus {
    border-bottom: 7px solid #741d1d;
}

#sendBody button {
    border: none;
    outline: none;
    padding: 20px;
    width: 60%;
    margin: 0;
    font-size: 3rem;
    box-sizing: border-box;
    background: white;
    color: black;
    border-radius: 30px;
    font-family: "Press Start 2P", system-ui;
    margin-top:4px;
    transition: 0.2s;
    cursor: pointer;
}


#sendBody #message:focus + button {
    margin-top: 0;
}

#sendBody button:hover {
    background: #741d1d;
    color: white;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin:0 auto
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fff;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}



@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

#status {
    position: absolute;
    width: 40vw;
    height: 40vh;
    background: white;
    border: 15px solid #c33;
    border-radius: 40px;
    box-shadow: 0 0 30px 0 #741d1d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

#status p {
    font-size: 2rem;
    color: #741d1d;
    text-align: center;
}

#status button {
    background-color: #c33;
    color: white;
}